#local ssh
alias ub='ssh sage@127.0.0.1 -p 2222'

#common commands
alias q='quit'
alias c='clear'
alias cls='clear'
alias h='history'
alias k='kill'

#directories
alias home='cd ~'
alias ~='cd ~'
alias root='cd /'
alias desktop='cd ~/Desktop'
alias code='cd ~/Documents/Code'
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../'

#list files
alias l='ls'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'

#openssh commands
alias ssh-status='sudo systemctl status ssh'
alias ssh-start='sudo systemctl start ssh'
alias ssh-stop='sudo systemctl stop ssh'
alias ssh-enable='sudo systemctl enable ssh'
alias ssh-disable='sudo systemctl disable ssh'
alias ssh-restart='sudo systemctl restart ssh'

#git aliases
alias gs='git status'
alias ga='git add'
alias gaa='git add -a'
alias gcm='git commit -m'
alias gck='git checkout'
alias gp='git push'
alias gc='git clone'
alias gm='git merge'
alias gsw='git switch'
alias gb='git branch

#functions
#
#oneliner of mkdir <folder> && cd <folder>
mkcd() {
	mkdir "$1"
	cd "$1"
}
#onliner of sudo rm -r <folder>
rmd() {
	sudo rm -r "$1"
}
